<a href="/folder/<%=folder.id%>">
  <div class="folder-item-cont">
    <div class="name file-folder-item">
      <img class="icon" src="/assets/icons/icon-folder.svg" alt="folder-icon" />
      <p><%= folder.name %></p>
    </div>
    <div class="modified file-folder-item"><p><%= folder.modified %></p></div>
    <!-- <div class="size file-folder-item"><p><%= folder.size %></p></div> -->
  </div>
</a>
