<div class="nav-page-cont">
  <nav>
    <div class="logo">
      <h1>Drive Cloud</h1>
      <img class="icon" src="/assets/icons/icon-cloud.svg" alt="" />
    </div>
    <div class="options">
      <form
        action="/folder/<%= folder.id %>/file"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="file" name="file" id="file" />
        <button type="submit">Upload file</button>
      </form>
      <form action="/folder/<%= folder.id %>" method="post">
        <input type="text" name="name" id="name" />
        <button type="submit">Create folder</button>
      </form>
    </div>
  </nav>
  <h3><%= folder.name %></h3>
</div>
