<div class="nav-page-cont">
  <nav>
    <h1>Drive Cloud</h1>
    <div class="options">
      <button>Upload file</button>
      <form action="/create-folder" method="post">
        <input type="text" name="newFolder" id="newFolder" />
        <button type="submit">Create folder</button>
      </form>
    </div>
  </nav>
</div>
