<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Folder</title>
  </head>
  <body>
    <%-include ("../components/nav", {folder: folder}) %>
    <div class="main-page-cont">
      <div class="folder-header">
        <p>Name</p>
        <p>Modified</p>
        <p>Size</p>
      </div>
      <% if (locals.folder.children) { %>
      <ul>
        <% folder.children.forEach((child) => { %>
        <li><%-include ("../components/folder-item", {folder: child})%></li>
      </ul>
      <% }) %> <% } %> <% if (locals.folder.files) { %>
      <ul>
        <% folder.files.forEach((file) => { %>
        <li><%-include ("../components/file-item", {file: file})%></li>
        <% }) %>
      </ul>
      <% } %>
    </div>
  </body>
</html>
