* {
  box-sizing: border-box;
  margin: 0;
  margin: 0;
  padding: 0;
}

html {
  /* padding: 20px; */
  padding: 0;
  margin: 0;
  background-color: #e8ecf1;
  color: black;
  padding: 50px;
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-page-cont {
  padding: 20px;
  background-color: #ffffff;
  margin-top: 20px;
  min-height: 600px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-page-cont {
  background-color: #e8ecf1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  /* position: absolute;
  z-index: -10; */
  /* padding: 50px; */
}

nav > .logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav > .options {
  display: flex;
  align-items: center;
  gap: 20px;
}

.folder-header {
  border-bottom: 2px solid rgb(226, 226, 226);
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 35px 0 15px 10px;
  font-weight: bold;
}

.folder-item-cont,
.file-item-cont {
  padding: 5px 0 5px 10px;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.folder-item-cont:hover {
  background-color: rgb(226, 226, 226);
}

.folder-item-cont > .name,
.file-item-cont > .name {
  display: flex;
  gap: 7px;
  align-items: center;
  font-weight: bold;
}

.icon {
  width: 40px;
  height: auto;
}
